.post {
    display: flex;
    flex-direction: column;
    /* grid-template-rows: 75px 1fr 50px 200px; */
    margin-top: 15px;
    max-height: 1000px;
}

.post-3-row-header-grid {
    display: grid;
    grid-template-columns: 75px 1fr 100px;
    /* max-width: 1000px; */
    align-self: left;
    margin: 15px;
}

.posts-container-2-row-grid {
    display: grid;
    grid-template-rows: 175px 1fr;
    max-width: 1000px;
    margin: 20px;
}

.comment-icons {
    display: flex;
    flex-direction: row;
    align-self: left;
    flex-wrap: nowrap;
    gap: 10px;
    padding-left: 10px;
}

.comment-icons > svg {
    width: 2em;
    height: 2em;
}

.comment-section {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 6px;
}