.user-stories-area{
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 30px;
    padding: 30px;
    overflow: hidden;
    flex-wrap: wrap;
    margin-bottom: 35px;
    max-height: 100px;
    max-width: 1000px;
}

